<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Assignment1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controllers.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>controllers.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearchQuery</display-name>
    <servlet-name>ProductSearchQuery</servlet-name>
    <servlet-class>controllers.ProductSearchQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchQuery</servlet-name>
    <url-pattern>/ProductSearchQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearchQueryServlet</display-name>
    <servlet-name>ProductSearchQueryServlet</servlet-name>
    <servlet-class>controllers.ProductSearchQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchQueryServlet</servlet-name>
    <url-pattern>/ProductSearchQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearchResultsServlet</display-name>
    <servlet-name>ProductSearchResultsServlet</servlet-name>
    <servlet-class>controllers.ProductSearchResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchResultsServlet</servlet-name>
    <url-pattern>/ProductSearchResultsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShoppingCart</display-name>
    <servlet-name>UpdateShoppingCart</servlet-name>
    <servlet-class>controllers.UpdateShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShoppingCart</servlet-name>
    <url-pattern>/UpdateShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerTransactionConfirmationServlet</display-name>
    <servlet-name>CustomerTransactionConfirmationServlet</servlet-name>
    <servlet-class>controllers.CustomerTransactionConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerTransactionConfirmationServlet</servlet-name>
    <url-pattern>/CustomerTransactionConfirmationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderTransactionServlet</display-name>
    <servlet-name>CancelOrderTransactionServlet</servlet-name>
    <servlet-class>controllers.CancelOrderTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderTransactionServlet</servlet-name>
    <url-pattern>/CancelOrderTransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrdersServlet</display-name>
    <servlet-name>ViewOrdersServlet</servlet-name>
    <servlet-class>controllers.ViewOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrdersServlet</servlet-name>
    <url-pattern>/ViewOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageOrderServlet</display-name>
    <servlet-name>ManageOrderServlet</servlet-name>
    <servlet-class>controllers.ManageOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageOrderServlet</servlet-name>
    <url-pattern>/ManageOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderServlet</display-name>
    <servlet-name>CancelOrderServlet</servlet-name>
    <servlet-class>controllers.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderServlet</servlet-name>
    <url-pattern>/CancelOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrders</display-name>
    <servlet-name>ViewOrders</servlet-name>
    <servlet-class>controllers.ViewOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrders</servlet-name>
    <url-pattern>/ViewOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controllers.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>